# Скопируйте этот файл в .env и задайте свой пароль для MinIO.
# Файл .env не коммитится (см. .gitignore).
MINIO_ROOT_PASSWORD=change-me

# Параметры подключения к PostgreSQL (ЛР2)
DB_HOST=localhost
DB_NAME=flight_service_db
DB_PORT=5432
DB_USER=postgres
DB_PASS=change-me
